# Configuration Folders
heterocl
Halide-HLS
soda-compiler
llvm3.8
llvm8.0
merlin-compiler
merlin-dse-pkg
soda

# record folders
auto_schedule
cpu_clock
merlin
*_intel_soda*

# old folders
app_add
app_halide2heterocl
app_stencil

# Unused folders
sobel
kmeans
lenet
camera_pipe
unsharp

# Unused files
gemm_heterocl.py
gemm_tile.py
yuze
kmeans_heterocl.py

# Files
merlin-dse-pkg.tgz
merlin-dse.tgz
env_merlin_dse.sh
merlin.cpp
plan.md
# revise.md

# some record file
.gitignore
*.txt
*.npy
*.png
*.jpg

*.rpt
*.xo

*.stmt
*.html

*.aoco*
*.aocr*

# Intermediate Files by Mobaxterm
.nfs*


# C++.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# HLS and Verilog
hls_prj
_x
.Xil
xo
*.v
*.vhd
*.xci 
*.xml
*.tcl
*.adb 

# Other Configurations
.gitignore
.git-credentials
.gitconfig
.cache
.config
.ipython
.jupyter
.local
.mozilla
.oracle_jre_usage
.pylint.d
.python-eggs
.ssh
.subversion
.swt
.vivado_hls
.vscode
.vscode-cpptools
.vscode-server
.Xilinx
.bash_history
.flexlmrc
.python_history
.sudo_as_admin_successful
.viminfo
.wget-hsts
.Xauthority
clang+llvm-3.8.1-x86_64-linux-gnu-ubuntu-16.04.tar.xz

